*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    top:0;
    padding-top:0;
    position:relative;
    margin:0;
}
.home-body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/img-1.jpg");
    background-position: center;
    background-size: cover; 
}
.clr {
    clear: both;
}
#home-section {
    display: flex;
    max-width: 100%;
    height: 50VH;
    margin: auto;
    padding: 50px;
    text-align: center;
    color: #222;
    
}

#home-section div {
    background: rgba(255, 255, 255, 0.5);
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

/* Navigation bar styling */
.navbar{
    list-style: none;
    margin-bottom: 20px;
    padding-right: 50px;
    background: rgb(245, 245, 245);
    overflow: auto;
    margin-top: 0;
}
.navbar li{
    float:right;
}
.navbar li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #222;
} 
.navbar li a:hover{
    background-color: rgba(15, 15, 15, 0.5);
    color: #eee;
} 
.box {
    float: left;
    width: 49.8%;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
    background: #ccc;
    color:#333;
    
}
.box h3 {
    font-size: 24px;
}
#skill{
    float: right;
}
#image {
    display: block;
    height: 400px;
    border-radius: 50%;
    margin: auto;
}  

/* Skill session */
.skill-set {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.home-skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.text-primary {
    color: chocolate;
    font-weight: bolder;
    font-size: 1.5rem;
}
.line-up {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 30px;
    padding-top: 0;
    border-radius: 20px;
    text-align: center;
}
.line-up:last-child{
    margin-bottom: 10px;
}
.skill-value {
    margin-right: 0.75rem;
    font-weight: bolder;
    color: #333;
    margin-bottom: 0;
}
.html-done {
    width: 70%;
    margin: 0;
    padding: 5px;
}
.css-done {
    width: 50%;
    margin: 0;
    padding: 5px;
}
.js-done {
    width: 20%;
    margin: 0;
    padding: 5px;
}

.html-done,
.css-done,
.js-done {
    border-radius: 20px;
    background: chocolate;
} 

/* Testimonial section */
/* #testimonials {
    display: flex;
    justify-content: space-between;
}
.placeholder-image {
    width: 100px;
    height: 100px;
} */

 /* Styling for about section  */
#about-section {
    max-width: 100%;
    height: 400px;
    margin: auto;
} 
#details {
    width: 50%;
    float: left;
}
#details p {
    font-size: 18px;
}

/* Styling for footer */
#main-footer {
   text-align: center;
   background:#0db2e9;
   color: #fff;
   /* padding: 10px; */
}
#newsletter{
    width: 50%;
    float: right;
}
#subscribe-button{
    background-color: royalblue;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
}
#subscribe-button:hover{
    background-color:rgb(38, 9, 146);
}
#email {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#main-footer a{
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.all-right {
    margin-bottom: 0rem;
}
/* Contact.html styling */
.underline{
    background-color: #0db2e9;
    height: 5px;
    width: 50px;
    margin: 5px auto 20px auto;
}
.in-touch{
    font-family: 'Quicksand', sans-serif;
    color: #222;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.personae{
    background-color: #0db2e9;
    height: 400px;
    width: 25%;
    float: left;
    clear: both;
    color: white;
    padding: 10px;
}
.personae h3 {
    color: white;
    margin-bottom: 0;
}
.personae p {
    margin-top: 5px;
}

.fill-in{
    height: 400px;
    width: 68%;
    float: right;
    clear: right;
    font-family: 'Quicksand', sans-serif;
    color: #222;
    font-size: 25px;
    margin-bottom: 10px;
}
.fill-in h3{
    color: #222;
}
.drop-message{
    margin: 0px 0px 5px 0px;
}
.underline-2{
    background-color: #0db2e9;
    height: 5px;
    width: 50px;
    margin-bottom: 20px;
}
.form-container{
    display: block;
    width: 80%;
}
input{
    display: block;
    margin-top: 10px;
    width: 49%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border-color: #444;
    border-width: thin;
    float: left;
}
.submit {
    width: 100px;
    background: #0db2e9;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    color: white;
}
.email{
    float: right;
}
textarea {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100%;
}
textarea:focus {
    outline: none;
    border-color: #0db2e9;
}
.contact-socials a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 0;
    margin-right: 10px;
    float: left;
}

/* Portfolio styling */
.portfolio-container {
    width: 80%;
    margin: 0 auto;
}
.portfolio-container h1 {
    text-align: center;
    margin: 0;
}
.box-1{
    background: #ccc;
    height: 300px;
    width: 30%;
    float: left;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 3.33%;
    padding: 10px;    
}
.box-1 img {
    display: inline-block;
    width: 100%;
}
.box-1 h3 {
    text-align: center;
    color: #333;
}
.box-1 p {
    text-align: center;
    color: #333;   
    font-size: 0.8rem;
}